flows_dcs-nodered.json
[{"id":"c3535b2b.291a08","type":"tab","label":"MessageRead","disabled":false,"info":"Parses messages from Discord and publishes them\nto the relevant MQTT channel."},{"id":"9d9f9890.56e158","type":"tab","label":"MessageWrite","disabled":false,"info":""},{"id":"61c70059.681e1","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"624b2b21.d053b4","type":"tab","label":"NR Healthcheck","disabled":false,"info":"This flow checks that the DCS instances are \nrunning NodeRed by checking how many MQTT heartbeats\nhave been sent from them. "},{"id":"3af3973c.c928c8","type":"tab","label":"DCS Map","disabled":false,"info":""},{"id":"49c6fea4.37aa5","type":"tab","label":"Tacview File Monitor","disabled":false,"info":""},{"id":"247251a3.38273e","type":"tab","label":"DCS Server Version","disabled":false,"info":""},{"id":"75cf1d3e.02a464","type":"mqtt-broker","z":"","name":"DCS-NodeRed","broker":"nodered.fertle.lan","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"536e458c.678fdc","type":"discord-token","z":"","name":"AEF Discord"},{"id":"23bea8d7.889368","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ccf1fbda.4d8208","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7380e2a7.2ded5c","type":"ui_group","z":"","name":"Tacview Log File Size","tab":"ccf1fbda.4d8208","disp":true,"width":"6","collapse":false},{"id":"b52c737e.a789d","type":"mqtt out","z":"c3535b2b.291a08","name":"MQTT Publish","topic":"","qos":"2","retain":"","broker":"75cf1d3e.02a464","x":1140,"y":240,"wires":[]},{"id":"a6cff39a.937ff","type":"discordSendMessage","z":"9d9f9890.56e158","name":"Server-Control","channel":"564225091299180554","token":"536e458c.678fdc","x":660,"y":100,"wires":[]},{"id":"45d34061.0e40f","type":"discordMessage","z":"61c70059.681e1","name":"Server Admin Channel","token":"536e458c.678fdc","x":120,"y":160,"wires":[["7ae2016b.a700b","11b8a4b.1e9545b"]]},{"id":"11b8a4b.1e9545b","type":"switch","z":"61c70059.681e1","name":"Read Message","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"!srs","vt":"str"},{"t":"eq","v":"!lotatc","vt":"str"},{"t":"eq","v":"!dcs","vt":"str"},{"t":"eq","v":"!!wedgiesCatStatus","vt":"str"},{"t":"eq","v":"!help","vt":"str"},{"t":"eq","v":"!tacview","vt":"str"},{"t":"cont","v":"HAL","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":540,"y":220,"wires":[["31c198ea.e11fa8"],["39f0373f.124b68"],["c327cc03.2a293"],["7d19768b.c20f28"],["46ea95f2.61f65c"],["63902cb1.641414"],[]]},{"id":"31c198ea.e11fa8","type":"function","z":"61c70059.681e1","name":"SRS Details","func":"var version = global.get('dcs2-srs-version')\n\nvar message = \"<@\"+msg.author.id+`>\n\nAEF Simple Radio Server Details\n\nCurrent Running Version:`\n\n+version+\n`\\n\nServer 1 : lab.fertle.com:16112\nServer 2 : lab.fertle.com:16122\nServer 3 : dcs.erelis.com.au:16132\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["9717e150.04bf3"]]},{"id":"9717e150.04bf3","type":"discordSendMessage","z":"61c70059.681e1","name":"Post to Discord","channel":"","token":"536e458c.678fdc","x":1180,"y":200,"wires":[],"info":"Balls"},{"id":"39f0373f.124b68","type":"function","z":"61c70059.681e1","name":"LotATC Details","func":"var message = \"<@\"+msg.author.id+`>\n\nAEF LotATC Server Details\nServer 1 : lab.fertle.com:16114\nServer 2 : lab.fertle.com:16124\nServer 3 : dcs.erelis.com.au:16134\n\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["9717e150.04bf3"]]},{"id":"c327cc03.2a293","type":"function","z":"61c70059.681e1","name":"General DCS Server Details","func":"var version = global.get('dcs2-dcs-version');\nvar message = \"<@\"+msg.author.id+`>\n\n\n**DCS Server Details**\n\nWe are currently running DCS Open Beta\n\nVersion: `+version +`\n\nInstance 1: lab.fertle.com:16111\n\nInstance 2: lab.fertle.com:16121\n\nInstance 3: dcs.erelis.com.au:16131\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["9717e150.04bf3"]]},{"id":"7d19768b.c20f28","type":"function","z":"61c70059.681e1","name":"Cat Status","func":"var message = \"<@\"+msg.author.id+`>\n\n\nCat is currently asleep on the Sofa\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":239,"wires":[["9717e150.04bf3"]]},{"id":"46ea95f2.61f65c","type":"function","z":"61c70059.681e1","name":"Command Summary","func":"var message = \"<@\"+msg.author.id+`>\n\nYou can use the following commands to get information about our servers:\n\n!dcs - DCS server details: addresses and port numbers. \n\n!srs - Simple Radio Standalone details: addresses and port numbers.\n\n!lotatc - LotATC details: addresses and port numbers. \n\n!tacview - TacView details: address and port numbers.\n\n!versions - Show all versions of software on our servers. `\n\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":279,"wires":[["9717e150.04bf3"]]},{"id":"63902cb1.641414","type":"function","z":"61c70059.681e1","name":"Tacview Summary","func":"var version = global.get('dcs2-tacview-version')\nvar message = \"<@\"+msg.author.id+`>\n\nWe run Tacview on our server, please note there is a 5 minute delay on the recording in order to discourage cheating. \n\nWe are currently running version `+version+\n`\\n\nServer 1 : lab.fertle.com: 16115\nServer 2 : lab.fertle.com: 16125\nServer 3 : dcs.erelis.com.au:16135\n\n\n`\nmsg = {payload: message,\n       channel: msg.channel.id\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":319,"wires":[["9717e150.04bf3"]]},{"id":"c0bf2b5d.ecf278","type":"mqtt in","z":"9d9f9890.56e158","name":"","topic":"server/#","qos":"2","datatype":"auto","broker":"75cf1d3e.02a464","x":120,"y":60,"wires":[["7da6f295.384cbc"]]},{"id":"f3741ba0.a718b8","type":"discordMessage","z":"c3535b2b.291a08","name":"AEF Discord","token":"536e458c.678fdc","x":130,"y":240,"wires":[["7eddb044.78427"]]},{"id":"4d7b6383.58a1ec","type":"switch","z":"c3535b2b.291a08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"server 1","vt":"str"},{"t":"cont","v":"server 2","vt":"str"},{"t":"cont","v":"server 3","vt":"str"},{"t":"eq","v":"server status","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":240,"wires":[["125d6c41.e1ef14"],["125d6c41.e1ef14"],["125d6c41.e1ef14"],[]]},{"id":"125d6c41.e1ef14","type":"function","z":"c3535b2b.291a08","name":"Set Topic and Payload","func":"var split = msg.payload.split(\" \");\nvar server = split[0];\nvar number = split[1];\nvar action = split[2];\nmsg = {topic: server+\"/\"+number,\n       payload: action\n      };\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":240,"wires":[["b52c737e.a789d","2091e66a.88a95a"]]},{"id":"7eddb044.78427","type":"switch","z":"c3535b2b.291a08","name":"Server-Control","property":"channel.name","propertyType":"msg","rules":[{"t":"eq","v":"server-control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":240,"wires":[["4d7b6383.58a1ec"]]},{"id":"7da6f295.384cbc","type":"function","z":"9d9f9890.56e158","name":"Response Checker","func":"var server= msg.topic.split(\"/\")[1]\n\n    \n    if (msg.payload == \"start_success\"){\n\t\tmsg = {payload: \"Server \"+server+\" has started successfully\"}\n\t\treturn msg;\n\t}\n\t\n\tif (msg.payload == \"start_error\"){\n        msg = {payload: \"There was a problem starting Server \"+server}\n        return msg;\n    }\n\t\n\tif (msg.payload == \"stop_success\"){\n        msg = {payload: \"Server \"+server+\" has been stopped\"}\n        return msg;\n    }\n    \n\tif (msg.payload == \"stop_error\"){\n        msg = {payload: \"There was a problem stopping Server \"+server}\n        return msg;\n    }\n\t\n\tif (msg.payload == \"status_success\"){\n        msg = {payload: \"Server \"+server+\" is Running\"}\n        return msg;\n\t}\n    if (msg.payload == \"status_warning\"){\n        msg = {payload: \"Server \"+server+\" has an issue. PID values exist in the local .csv file, but there are no executables acutally running. We recommend a 'restart' action to resolve. \"}\n        return msg;   \n        \n    }\n    if (msg.payload == \"status_error\"){\n        msg = {payload: \"Couldn't determine the status of Server \"+server}\n        return msg;\n    }\n    if (msg.payload == \"restart_success\"){\n        msg = {payload: \"Server \"+server+\" has been successfully restarted\"}\n        return msg;\n    }\n    ","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["a6cff39a.937ff","a5eea909.f87438"]]},{"id":"a5eea909.f87438","type":"debug","z":"9d9f9890.56e158","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":40,"wires":[]},{"id":"f0973d05.e8fab","type":"mqtt in","z":"624b2b21.d053b4","name":"Listen","topic":"server/#","qos":"2","datatype":"auto","broker":"75cf1d3e.02a464","x":50,"y":80,"wires":[["afb648cd.abb108"]]},{"id":"afb648cd.abb108","type":"switch","z":"624b2b21.d053b4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"server/1","vt":"str"},{"t":"eq","v":"server/2","vt":"str"},{"t":"eq","v":"server/3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":200,"y":80,"wires":[["21fc206.6df2de"],["1db82c24.f9c944"],["6ed110e3.7f111"]]},{"id":"21fc206.6df2de","type":"timeout","z":"624b2b21.d053b4","name":"DCS Instance NR Health ","outtopic":"Server 1","outsafe":"Safe","outwarning":"Warning","outunsafe":"Error","warning":"330","timer":"600","repeat":false,"again":false,"x":460,"y":40,"wires":[["c76c957d.8dcc18"]]},{"id":"1db82c24.f9c944","type":"timeout","z":"624b2b21.d053b4","name":"DCS Instance NR Health ","outtopic":"Server 2","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"330","timer":"600","repeat":false,"again":false,"x":460,"y":100,"wires":[["c76c957d.8dcc18"]]},{"id":"6ed110e3.7f111","type":"timeout","z":"624b2b21.d053b4","name":"DCS Instance NR Health ","outtopic":"Server 3","outsafe":"Safe","outwarning":"Warning","outunsafe":"Unsafe","warning":"350","timer":"600","repeat":false,"again":false,"x":460,"y":160,"wires":[[]]},{"id":"651a961b.d5a028","type":"discordSendMessage","z":"624b2b21.d053b4","name":"Server-Control","channel":"564225091299180554","token":"536e458c.678fdc","x":980,"y":100,"wires":[]},{"id":"c76c957d.8dcc18","type":"function","z":"624b2b21.d053b4","name":"Response Checker","func":"var server= msg.topic.split(\" \")[1]\n\n    \n    if (msg.payload == \"Warning\"){\n        msg = {payload: \"Looks like Node Red on Server \"+server+\" has an issue.\"}\n        return msg;\n    }\n    if (msg.payload == \"Error\"){\n        msg = {payload: \"@here Node Red on Server \"+server+\" is not running, please investigate.\"}\n        return msg;\n    }\n     if (msg.payload == \"Safe\"){\n        msg = {payload: \"Node Red on Server \"+server+\" is up and running.\"}\n        return msg;\n    }","outputs":1,"noerr":0,"x":750,"y":100,"wires":[[]]},{"id":"2091e66a.88a95a","type":"debug","z":"c3535b2b.291a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":80,"wires":[]},{"id":"eb190d43.13c51","type":"tcp in","z":"3af3973c.c928c8","name":"","server":"server","host":"192.168.0.181","port":"10309","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":220,"wires":[["b9ba4791.499ad8","7b0bdf5c.60b29"]]},{"id":"b9ba4791.499ad8","type":"json","z":"3af3973c.c928c8","name":"","property":"payload","action":"","pretty":false,"x":370,"y":220,"wires":[["2b306cee.be39c4"]]},{"id":"7b0bdf5c.60b29","type":"debug","z":"3af3973c.c928c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":360,"wires":[]},{"id":"ba6e05d1.e05ee8","type":"worldmap","z":"3af3973c.c928c8","name":"Persian Gulf","lat":"26.11599","lon":"54.78882","zoom":"8","layer":"Esri Satellite","cluster":"","maxage":"60","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","path":"/dcs","x":1010,"y":300,"wires":[]},{"id":"2b306cee.be39c4","type":"switch","z":"3af3973c.c928c8","name":"","property":"payload.Coalition","propertyType":"msg","rules":[{"t":"eq","v":"Allies","vt":"str"},{"t":"eq","v":"Enemies","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":220,"wires":[["b51568c9.e496d8"],["672c45d9.5126dc"]]},{"id":"b51568c9.e496d8","type":"change","z":"3af3973c.c928c8","name":"Allies","rules":[{"t":"set","p":"payload.SIDC","pt":"msg","to":"SHAPMF------","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":200,"wires":[["7b0bdf5c.60b29","ba6e05d1.e05ee8"]]},{"id":"672c45d9.5126dc","type":"change","z":"3af3973c.c928c8","name":"Enemies","rules":[{"t":"set","p":"payload.SIDC","pt":"msg","to":"SFAPMF------","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["ba6e05d1.e05ee8"]]},{"id":"bc3a5206.c9565","type":"function","z":"61c70059.681e1","name":"HAL","func":"var version = flow.get('tacviewversion')\nvar message = \"<@\"+msg.author.id+`>\n\nI'm sorry Dave, but I'm afraid I can't do that...\n\n`\nmsg = {payload: message}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["838821d4.a2bdd"]]},{"id":"7ae2016b.a700b","type":"switch","z":"61c70059.681e1","name":"Check Channel","property":"channel.name","propertyType":"msg","rules":[{"t":"eq","v":"server-control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":420,"wires":[["234b07bc.aa6698"]],"info":"Checks for messages on the \n\n#pub-server-support channel."},{"id":"234b07bc.aa6698","type":"switch","z":"61c70059.681e1","name":"Read Message","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"HAL","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":420,"wires":[["bc3a5206.c9565"]]},{"id":"838821d4.a2bdd","type":"discordSendMessage","z":"61c70059.681e1","name":"Post to Discord","channel":"564225091299180554","token":"536e458c.678fdc","x":1180,"y":420,"wires":[],"info":"Balls"},{"id":"e99a4dc2.1a56a","type":"mqtt in","z":"49c6fea4.37aa5","name":"","topic":"server/+/tacview","qos":"2","datatype":"auto","broker":"75cf1d3e.02a464","x":160,"y":120,"wires":[["3d835144.90e67e","96ab761b.02ab18"]]},{"id":"3d835144.90e67e","type":"function","z":"49c6fea4.37aa5","name":"Response Checker","func":"var server= msg.topic.split(\"/\")[1]\n\nmsg = {payload: \"Server \"+server+\" has tacview recordings which are \"+msg.payload+\"Mb in size\"}\nreturn msg;\n    \n    ","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["deac96ef.dc8948"]]},{"id":"c6d6e370.7502e","type":"link in","z":"9d9f9890.56e158","name":"","links":["deac96ef.dc8948"],"x":460,"y":260,"wires":[["a6cff39a.937ff"]]},{"id":"deac96ef.dc8948","type":"link out","z":"49c6fea4.37aa5","name":"Write to Discord","links":["c6d6e370.7502e"],"x":535,"y":40,"wires":[]},{"id":"96ab761b.02ab18","type":"function","z":"49c6fea4.37aa5","name":"String to Number","func":"var number = parseFloat(msg.payload)\n\nmsg = {payload: number}\n\nreturn msg\n    \n    ","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["e520eca9.49cf7","ca6bbd1.aafdb4"]]},{"id":"e520eca9.49cf7","type":"debug","z":"49c6fea4.37aa5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":360,"wires":[]},{"id":"ca6bbd1.aafdb4","type":"ui_level","z":"49c6fea4.37aa5","group":"7380e2a7.2ded5c","order":0,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"250","segWarn":"","segHigh":"","unit":"MB","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"fixed","x":570,"y":160,"wires":[]},{"id":"42db1a31.de97c4","type":"mqtt in","z":"247251a3.38273e","name":"","topic":"server/#","qos":"2","datatype":"auto","broker":"75cf1d3e.02a464","x":100,"y":80,"wires":[["eefe640f.f308b8"]]},{"id":"eefe640f.f308b8","type":"json","z":"247251a3.38273e","name":"","property":"payload","action":"","pretty":false,"x":250,"y":80,"wires":[["89b049be.937978","78d754e1.1f299c","7ab4bf85.4151e"]]},{"id":"89b049be.937978","type":"switch","z":"247251a3.38273e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":80,"wires":[["fedb477a.ebfd38"]]},{"id":"fedb477a.ebfd38","type":"function","z":"247251a3.38273e","name":"Set Var","func":"if (msg.payload.dcs){\n    \n    global.set(\"dcs2-dcs-version\", msg.payload.dcs);\n}\n\n","outputs":1,"noerr":0,"x":560,"y":80,"wires":[[]]},{"id":"78d754e1.1f299c","type":"switch","z":"247251a3.38273e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":140,"wires":[["bec0dbe1.5ef078"]]},{"id":"bec0dbe1.5ef078","type":"function","z":"247251a3.38273e","name":"tacview","func":"if (msg.payload.tacview){\n    \n    global.set(\"dcs2-tacview-version\", msg.payload.tacview);\n}\n\n","outputs":1,"noerr":0,"x":560,"y":140,"wires":[[]]},{"id":"7ab4bf85.4151e","type":"switch","z":"247251a3.38273e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"server/2/versions","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":200,"wires":[["d625565e.622668"]]},{"id":"d625565e.622668","type":"function","z":"247251a3.38273e","name":"srs","func":"if (msg.payload.srs){\n    \n    global.set(\"dcs2-srs-version\", msg.payload.srs);\n}\n\n","outputs":1,"noerr":0,"x":550,"y":200,"wires":[[]]},{"id":"c3b4142b.655898","type":"debug","z":"61c70059.681e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":140,"y":300,"wires":[]}]